<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logocspc2.png" alt="CSPC logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Subscreva a Newsletter </p>
			<p>Receba no seu Email notícias sobre a nossa clínica e informação sobre saúde mental</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Casa da Oliveira</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/products" class="link">Serviços</a></li>
					<li><a href="/values" class="link">A nossa visão</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contacto</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Descubra mais</h3>
				<ul class="mb3">
					<li><a href="/post/galeria" class="link">As nossas instalações</a></li>
					<li><a href="/contact" class="link">Marque a sua consulta</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Redes Sociais</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/Casa-da-Oliveira-CSPC-125016342226164/" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/casadaoliveira.cspc/" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "https://www.mhresources.pt/projects/internamento-psiquiatrico/" "svg" "icons-vimeo") }}
				</ul>
				<p align="justify"><font size="2">Clínica de Saúde Psiquiátrica de Coimbra, Lda <br>
				NIPC 514525894<br>
				Rua Ferreira de Castro, 41, 3020-098 Coimbra<br>
				Registo na ERS N. E144324<br>
				Licença de Funcionamento ERS 17411/2019</font></p>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
<!-- Load PhotoSwipe js if the load-photoswipe shortcode has been used -->
{{ if ($.Scratch.Get "photoswipeloaded") }}
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="/js/load-photoswipe.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js" integrity="sha256-UplRCs9v4KXVJvVY+p+RSo5Q4ilAUXh7kpjyIP5odyc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js" integrity="sha256-PWHOlUzc96pMc8ThwRIXPn8yH4NOLu42RQ0b9SpnpFk=" crossorigin="anonymous"></script>
{{ end }}
</body>

</html>
