<div gallery>

<a href="{{ .image2.image }}" data-lightbox="{{ .image2.image }}" data-title="My caption" ><img src="{{ .image2.image }}" width="300"/></a>
<a href="{{ .image2.image }}" data-lightbox="{{ .image2.image }}" data-title="My caption" ><img src="{{ .image2.image }}" width="300"/></a>
<a href="{{ .image2.image }}" data-lightbox="image-1" data-title="My caption" ><img src="{{ .image2.image }}" width="300"/></a>
<a href="{{ .image2.image }}" data-lightbox="image-1" data-title="My caption" ><img src="{{ .image2.image }}" width="300"/></a>
<a href="{{ .image2.image }}" data-lightbox="image-1" data-title="My caption" ><img src="{{ .image2.image }}" width="300"/></a>
<a href="{{ .image2.image }}" data-lightbox="image-1" data-title="My caption" ><img src="{{ .image2.image }}" width="300"/></a>
<a href="{{ .image2.image }}" data-lightbox="image-1" data-title="My caption" ><img src="{{ .image2.image }}" width="300"/></a>
<a href="{{ .image2.image }}" data-lightbox="image-1" data-title="My caption" ><img src="{{ .image2.image }}" width="300"/></a>

<div gallery/>
