<form action="http://getsimpleform.com/messages?form_api_token=b9abaecea4fc1a6d32c098b62cbc9320" class="flex-ns mb3" method="post" data-netlify="true">

  <fieldset class="flex-auto mb2 mb0-ns mr2-ns" name="newsletter" action="http://getsimpleform.com/messages?form_api_token=b9abaecea4fc1a6d32c098b62cbc9320">

    <input type="text" id="email" placeholder="O seu Email" class="w-100">
    <label for="email">O seu Email</label>
  </fieldset>
  <button class="btn mb3 w-100 w-auto-ns mb0-ns raise" type="submit">Enviar</button>

</form>
